*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (min-width: 47.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

p {
  font-size: 1.6rem;
}

.header {
  background-image: url(../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 400px) {
  .header {
    height: 70vh;
  }
}
@media screen and (min-width: 56.25em) {
  .header {
    background-image: url(../images/desktop/image-hero.jpg);
    height: 70vh;
  }
}
.header .container {
  padding: 2rem;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .header .container {
    padding: 0;
  }
}
@media screen and (min-width: 56.25em) {
  .header .container {
    max-width: 80%;
    margin: 0 auto;
    width: 100%;
  }
}
.header__textwrap {
  border: 2px solid hsl(0deg, 0%, 100%);
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 37.5em) {
  .header__textwrap {
    margin: 0;
  }
}
@media screen and (min-width: 56.25em) {
  .header__textwrap {
    width: 50%;
    margin: 0;
  }
}
.header__textwrap h1 {
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 0.6rem;
  width: 40%;
}
@media screen and (min-width: 56.25em) {
  .header__textwrap h1 {
    width: 60%;
    margin: 0;
  }
}

.leader__container {
  padding: 10rem 1.5rem 0;
  margin-bottom: 5rem;
}
@media screen and (min-width: 56.25em) {
  .leader__container {
    display: grid;
    padding-top: 5rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 90%;
    margin: 0 auto 7rem;
  }
}
.leader__imgwrap {
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (min-width: 56.25em) {
  .leader__imgwrap {
    grid-column: 1/7;
    width: 100%;
    grid-row: 1/-1;
  }
}
.leader__textcontent {
  text-align: center;
}
@media screen and (min-width: 56.25em) {
  .leader__textcontent {
    background-color: hsl(0deg, 0%, 100%);
    z-index: 20;
    position: relative;
    top: 15rem;
    max-width: 50rem;
    height: 30rem;
    width: 100%;
    padding: 1rem 2rem;
    grid-column: 5/9;
    grid-row: 1/-1;
    display: grid;
    place-content: center;
  }
}
.leader__textcontent h1 {
  margin: 1rem 0;
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto 1rem;
  color: hsl(0deg, 0%, 0%);
  font-weight: 100;
}
@media screen and (min-width: 47.5em) {
  .leader__textcontent h1 {
    width: 80%;
  }
}
.leader__textcontent p {
  line-height: 1.5;
  color: hsl(0deg, 0%, 55%);
}

.creations {
  position: relative;
  margin-bottom: 8rem;
}
.creations__textcontent .container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 47.5em) {
  .creations__textcontent .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.creations__textcontent a.btn {
  margin: 0;
}
.creations__textcontent h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.creations__textcontent h1:hover {
  transform: scale(1.2);
  transition: all 1s ease;
  text-shadow: 2px 2px 2px hsl(0deg, 0%, 41%);
  cursor: pointer;
}
@media screen and (min-width: 37.5em) {
  .creations__card--wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
  }
}
@media screen and (min-width: 47.5em) {
  .creations__card--wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
  }
}

.footer {
  padding: 4rem 1rem;
  background-color: hsl(0deg, 0%, 0%);
  text-align: center;
}
@media screen and (min-width: 47.5em) {
  .footer__container {
    display: grid;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
  }
}
.footer .logo--wrap {
  width: 15rem;
  margin: 1rem auto;
}
.footer .logo--wrap img {
  padding: 0 1rem;
}
@media screen and (min-width: 47.5em) {
  .footer .logo--wrap {
    grid-column: 1/1;
    grid-row: 1/2;
    margin: 0;
  }
}
.footer .item {
  margin: 1rem 0;
  padding: 1rem;
}
@media screen and (min-width: 47.5em) {
  .footer .item {
    margin: 0;
  }
}
.footer .item--link {
  list-style: none;
}
@media screen and (min-width: 47.5em) {
  .footer .item--link {
    grid-column: 1/1;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
  }
}
.footer .item--link li {
  margin: 1.5rem 0;
}
@media screen and (min-width: 47.5em) {
  .footer .item--link li {
    margin: 0;
  }
}
.footer .item--link li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: hsl(0deg, 0%, 100%);
}
.footer .item--social {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 47.5em) {
  .footer .item--social {
    justify-self: end;
    grid-column: 2/3;
    grid-row: 1/1;
  }
}
.footer .item--social img {
  margin: 0 1rem;
  cursor: pointer;
}
.footer .item--social img:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}

@media screen and (min-width: 37.5em) {
  .nav__items li a,
.footer .item--link li a {
    position: relative;
  }
  .nav__items li a::before,
.footer .item--link li a::before {
    content: "";
    position: absolute;
    height: 0px;
    width: 0%;
  }
  .nav__items li a:hover,
.footer .item--link li a:hover {
    transform: scale(1.1);
    display: block;
    color: hsl(0deg, 0%, 100%);
    transition: transform 0.5s, color 0.7s, ease-in-out;
  }
  .nav__items li a:hover::before,
.footer .item--link li a:hover::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    bottom: -1rem;
    background: white;
    transition: width 1s ease-in;
  }
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5rem 1rem 0;
  margin-bottom: 8rem;
}
@media screen and (max-width: 600px) {
  .nav__container {
    padding: 1rem 0;
  }
}
.nav__logo {
  width: 15rem;
  padding: 1rem;
}
.nav__items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 60%;
}
@media screen and (max-width: 600px) {
  .nav__items {
    position: absolute;
    top: 0;
    flex-direction: column;
    background-color: hsl(0deg, 0%, 0%);
    padding: 1rem 2rem;
    align-items: flex-start;
    width: 0%;
    display: none;
    height: 100vh;
    justify-content: center;
  }
}
.nav__items--head {
  display: none;
}
@media screen and (max-width: 600px) {
  .nav__items--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    top: -20rem;
  }
  .nav__items--head .close {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .nav__items li {
    margin: 1rem 0;
  }
}
.nav__items li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: hsl(0deg, 0%, 100%);
}
@media screen and (max-width: 600px) {
  .nav__items li a {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  .nav__items li a:hover {
    color: hsl(0deg, 0%, 41%);
    transform: scale(1.1);
    display: block;
    transition: color 0.5s, transform 1s, ease-in-out;
  }
}

.hamburger {
  display: none;
}
@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .mobile--active {
    width: 100%;
    display: flex;
    transition: width 0.5s ease-in-out;
  }
}

.card {
  max-width: 40rem;
  height: 13rem;
  width: 100%;
  padding: 1rem 1.8rem;
  margin: 2rem auto;
  position: relative;
  color: hsl(0deg, 0%, 100%);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.card:hover {
  filter: hue-rotate(360deg);
  transition: all 1s ease;
  color: hsl(0deg, 0%, 0%);
  text-shadow: 3px 3px 1px hsl(0deg, 0%, 41%);
  font-weight: 800;
}
@media screen and (min-width: 37.5em) {
  .card {
    max-width: 20rem;
    height: 35rem;
  }
}
.card__body {
  position: absolute;
  bottom: 1rem;
  z-index: 3;
}
@media screen and (min-width: 37.5em) {
  .card__body {
    bottom: 1.5rem;
  }
}
.card__body h1 {
  text-align: left;
  text-transform: uppercase;
  width: 60%;
}
@media screen and (min-width: 37.5em) {
  .card__body h1 {
    width: 80%;
  }
}
.card--1 {
  background-image: url(../images/mobile/image-deep-earth.jpg);
}
@media screen and (min-width: 37.5em) {
  .card--1 {
    background-image: url(../images/desktop/image-deep-earth.jpg);
  }
}
.card--2 {
  background-image: url(../images/mobile/image-night-arcade.jpg);
}
@media screen and (min-width: 37.5em) {
  .card--2 {
    background-image: url(../images/desktop/image-night-arcade.jpg);
  }
}
.card--3 {
  background-image: url(../images/mobile/image-soccer-team.jpg);
}
@media screen and (min-width: 37.5em) {
  .card--3 {
    background-image: url(../images/desktop/image-soccer-team.jpg);
  }
}
.card--4 {
  background-image: url(../images/mobile/image-grid.jpg);
}
@media screen and (min-width: 37.5em) {
  .card--4 {
    background-image: url(../images/desktop/image-grid.jpg);
  }
}
.card--5 {
  background-image: url(../images/mobile/image-from-above.jpg);
}
@media screen and (min-width: 37.5em) {
  .card--5 {
    background-image: url(../images/desktop/image-from-above.jpg);
  }
}
.card--6 {
  background-image: url(../images/mobile/image-pocket-borealis.jpg);
}
@media screen and (min-width: 37.5em) {
  .card--6 {
    background-image: url(../images/desktop/image-pocket-borealis.jpg);
  }
}
.card--7 {
  background-image: url(../images/mobile/image-curiosity.jpg);
}
@media screen and (min-width: 37.5em) {
  .card--7 {
    background-image: url(../images/desktop/image-curiosity.jpg);
  }
}
.card--8 {
  background-image: url(../images/mobile/image-fisheye.jpg);
}
@media screen and (min-width: 37.5em) {
  .card--8 {
    background-image: url(../images/desktop/image-fisheye.jpg);
  }
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.8rem 1.8rem;
  border: 2px solid hsl(0deg, 0%, 41%);
  display: block;
  color: hsl(0deg, 0%, 0%);
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  margin: 0 auto;
  text-align: center;
  width: 15rem;
  background-color: hsl(0deg, 0%, 100%);
}
.btn:hover {
  outline: none;
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
  transition: background-color 0.5s ease-in-out;
}
.btn--top {
  display: none;
}
@media screen and (min-width: 47.5em) {
  .btn--top {
    display: block;
  }
}
@media screen and (min-width: 47.5em) {
  .btn--bottom {
    display: none;
  }
}

.copy {
  color: hsl(0deg, 0%, 55%);
  text-align: center;
}
@media screen and (min-width: 47.5em) {
  .copy {
    text-align: end;
  }
}

.top {
  background-color: goldenrod;
  height: 5rem;
  font-size: 1.6rem;
  width: 5rem;
  border-radius: 50%;
  color: #fff;
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 0;
  display: none;
  z-index: 1000;
}
.top:hover {
  background-color: lightblue;
  color: hsl(0deg, 0%, 0%);
  transition: color 0.5s, background-color 0.7s, ease-in-out;
}/*# sourceMappingURL=main.css.map */